* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

.body {
  margin: 40px;
  font-family: 'Arial', sans-serif;
  min-height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.scroll-anim-body {
  margin: 0;
}

h2 {
  margin: 0;
}

.example {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.title {
  width: 100%;
  font-size: 26px;
}

.canvas {
  border: 1px solid white;
}

.canvas-img-wrap {
  position: relative;
  width: calc((100% + 80px) * 0.75);
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.canvas-img {
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.scroll-anim-body {
  position: relative;
  z-index: 1;
}

.scroll-anim-body canvas {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.scroll-anim-main {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.text {
  width: 45%;
  font-size: 24px;
}

.color-green {
  color: #c8fddd;
}

.color-yellow {
  color: #fbfdc8;
}

.color-blue {
  color: #c8dbfd;
}

.scroll-anim-section {
  height: 100vh;
}
